* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
  color: #FFFFFF;
}

body {
  background: #F4F6FA url("/assets/images/pattern-background-desktop-light.svg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  padding: 83px 140px;
}

.theme-option {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  color: #313E51;
  margin-bottom: 99px;
}
.theme-option div {
  width: 48px;
  height: 28px;
  padding: 4;
  background-color: #A729F5;
  border-radius: 999px;
  padding: 4px;
}
.theme-option div .toggle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.main {
  display: none;
  justify-content: space-between;
}
.main .welcome-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.main .welcome-container h1 {
  font-size: 64px;
  font-weight: 300;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
.main .welcome-container h1 strong {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
.main .welcome-container p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  font-style: italic;
  color: #626C7F;
}
.main .options-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main .options-container .option {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  width: 564px;
}
.main .options-container .option p {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}

.html {
  display: none;
  gap: 131px;
}
.html .question-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.html .question-container .question-number {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  font-style: italic;
  color: #626C7F;
}
.html .question-container .question {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%;
  font-style: normal;
  color: #313E51;
  margin-bottom: 120px;
}
.html .question-container div {
  padding: 4px;
  height: 16px;
  border-radius: 999px;
  background-color: #FFFFFF;
}
.html .question-container div div {
  height: 100%;
  background-color: #A729F5;
  width: 60%;
}
.html .answers-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.html .answers-container .answer {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  width: 564px;
  cursor: pointer;
  padding: 18px 20px;
}
.html .answers-container .answer div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 56px;
  height: 56px;
  background-color: #F4F6FA;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #626C7F;
}
.html .answers-container .answer p {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
  flex: 1;
}
.html .answers-container .answer:hover div {
  background-color: #F6E7FF;
  color: #A729F5;
}
.html .answers-container button {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  background-color: #A729F5;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.html .answers-container button:hover {
  background: rgba(167, 41, 245, 0.5);
}

.score {
  display: flex;
  gap: 143px;
}
.score .score-text-container p {
  font-size: 64px;
  font-weight: 300;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
.score .score-text-container p strong {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
.score .score-point-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.score .score-point-container .score-box {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  width: 564px;
  padding: 48px;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
.score .score-point-container .score-box .question-type {
  display: flex;
  align-items: center;
  gap: 24px;
}
.score .score-point-container .score-box .question-type img {
  padding: 8px;
  background-color: #F6E7FF;
  border-radius: 10px;
}
.score .score-point-container .score-box .question-type p {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
.score .score-point-container .score-box .score-box-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.score .score-point-container .score-box .score-box-container p:first-child {
  font-size: 144px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
.score .score-point-container .score-box .score-box-container p:last-child {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  font-style: normal;
  color: #626C7F;
}
.score .score-point-container button {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  background-color: #A729F5;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.score .score-point-container button:hover {
  background: rgba(167, 41, 245, 0.5);
}

.active {
  border: 3px solid #A729F5;
}
.active div {
  background-color: #A729F5 !important;
  color: #FFFFFF !important;
}

.correct-answer {
  border: 3px solid #26D782;
}
.correct-answer div {
  background-color: #26D782 !important;
  color: #FFFFFF !important;
}

.wrong-answer {
  border: 3px solid #EE5454;
}
.wrong-answer div {
  background-color: #EE5454 !important;
  color: #FFFFFF !important;
}

.animation-active {
  animation: move-right 0.3s forwards;
}

@keyframes move-right {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}
@keyframes move-left {
  from {
    left: 55%;
  }
  to {
    left: 5%;
  }
}

/*# sourceMappingURL=styles.css.map */
