* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;
}

h1.dark-theme-text,
p.dark-theme-text,
strong.dark-theme-text {
  color: #FFFFFF !important;
}

.dark-theme-div {
  background-color: #3B4D66 !important;
}

span.dark-theme-text {
  color: #ABC1E1 !important;
}

body {
  background: #F4F6FA url("/assets/images/pattern-background-desktop-light.svg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  padding: 83px 140px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 85px;
}
@media (max-width: 870px) {
  body {
    padding: 64px 54px;
    gap: 62px;
  }
}
@media (max-width: 590px) {
  body {
    padding: 26px 24px;
    gap: 32px;
  }
}

.dark-theme {
  background: #313E51 url("/assets/images/pattern-background-desktop-dark.svg");
  background-position: center;
  background-size: cover;
}

.theme-option {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  color: #313E51;
}
@media (max-width: 590px) {
  .theme-option {
    padding-bottom: 16px;
  }
}
.theme-option .subject {
  display: none;
  align-items: center;
  gap: 24px;
}
@media (max-width: 590px) {
  .theme-option .subject {
    gap: 16px;
  }
}
.theme-option .subject img {
  padding: 8px;
  border-radius: 10px;
}
@media (max-width: 590px) {
  .theme-option .subject img {
    padding: 6px;
    height: 40px;
    width: 40px;
  }
}
.theme-option .subject p {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .theme-option .subject p {
    font-size: 18px;
  }
}
.theme-option .theme-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 590px) {
  .theme-option .theme-container {
    gap: 8px;
  }
  .theme-option .theme-container img {
    width: 16px;
    height: 16px;
  }
}
.theme-option .theme-container .toggle-container {
  width: 48px;
  height: 28px;
  background-color: #A729F5;
  border-radius: 999px;
  padding: 4px;
  position: relative;
}
@media (max-width: 590px) {
  .theme-option .theme-container .toggle-container {
    width: 32px;
    height: 20px;
  }
}
.theme-option .theme-container .toggle-container .toggle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #FFFFFF;
  position: absolute;
  cursor: pointer;
}
@media (max-width: 590px) {
  .theme-option .theme-container .toggle-container .toggle {
    width: 12px;
    height: 12px;
  }
}

@keyframes move-right {
  from {
    left: 4px;
  }
  to {
    left: calc(100% - 24px);
  }
}
/* Animation when toggled to the left */
@keyframes move-left {
  from {
    right: 4px;
  }
  to {
    right: calc(100% - 24px);
  }
}
.active-animation {
  animation: move-right 0.3s forwards;
}

.deactivate {
  animation: move-left 0.3s forwards;
}

.main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 870px) {
  .main {
    flex-direction: column;
    gap: 64px;
  }
}
@media (max-width: 590px) {
  .main {
    gap: 40px;
  }
}
.main .welcome-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 870px) {
  .main .welcome-container {
    gap: 16px;
  }
}
.main .welcome-container h1 {
  font-size: 64px;
  font-weight: 300;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .main .welcome-container h1 {
    font-size: 40px;
  }
}
.main .welcome-container h1 strong {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .main .welcome-container h1 strong {
    font-size: 40px;
  }
}
.main .welcome-container span {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  font-style: italic;
  color: #626C7F;
}
@media (max-width: 590px) {
  .main .welcome-container span {
    font-size: 14px;
  }
}
.main .options-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 590px) {
  .main .options-container {
    gap: 12px;
  }
}
.main .options-container .option {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  width: 564px;
  cursor: pointer;
}
@media (max-width: 870px) {
  .main .options-container .option {
    width: 100%;
  }
}
@media (max-width: 590px) {
  .main .options-container .option {
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
  }
}
.main .options-container .option p {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .main .options-container .option p {
    font-size: 18px;
  }
}
.main .options-container .option img {
  padding: 8px;
  border-radius: 10px;
}
@media (max-width: 590px) {
  .main .options-container .option img {
    padding: 6px;
    width: 40px;
    height: 40px;
  }
}
.main .options-container .option:nth-child(1n) img {
  background-color: #FFF1E9;
}
.main .options-container .option:nth-child(2n) img {
  background-color: #E0FDEF;
}
.main .options-container .option:nth-child(3n) img {
  background-color: #EBF0FF;
}
.main .options-container .option:nth-child(4n) img {
  background-color: #F6E7FF;
}

.html {
  display: none;
  justify-content: space-between;
}
@media (max-width: 870px) {
  .html {
    flex-direction: column;
    gap: 64px;
  }
}
@media (max-width: 590px) {
  .html {
    gap: 40px;
  }
}
.html .question-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 465px;
  height: 452px;
}
@media (max-width: 870px) {
  .html .question-container {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 590px) {
  .html .question-container {
    gap: 12px;
  }
}
.html .question-container .question-number {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  font-style: italic;
  color: #626C7F;
}
@media (max-width: 590px) {
  .html .question-container .question-number {
    font-size: 14px;
  }
}
.html .question-container .question {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%;
  font-style: normal;
  color: #313E51;
  margin-bottom: 120px;
  flex: 1;
}
@media (max-width: 870px) {
  .html .question-container .question {
    margin-bottom: auto;
  }
}
@media (max-width: 590px) {
  .html .question-container .question {
    font-size: 20px;
  }
}
.html .question-container div {
  padding: 4px;
  height: 16px;
  border-radius: 999px;
  background-color: #FFFFFF;
}
.html .question-container div div {
  height: 100%;
  background-color: #A729F5;
  width: 60%;
}
.html .answers-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 590px) {
  .html .answers-container {
    gap: 12px;
  }
}
.html .answers-container .answer {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  width: 564px;
  cursor: pointer;
  padding: 18px 20px;
}
@media (max-width: 870px) {
  .html .answers-container .answer {
    width: 100%;
  }
}
@media (max-width: 590px) {
  .html .answers-container .answer {
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
  }
}
.html .answers-container .answer div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 56px;
  height: 56px;
  background-color: #F4F6FA;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #626C7F;
}
@media (max-width: 590px) {
  .html .answers-container .answer div {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}
.html .answers-container .answer p {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
  flex: 1;
}
@media (max-width: 590px) {
  .html .answers-container .answer p {
    font-size: 18px;
  }
}
.html .answers-container .answer:hover div {
  background-color: #F6E7FF;
  color: #A729F5;
}
.html .answers-container button {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  background-color: #A729F5;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.html .answers-container button:hover {
  background: rgba(167, 41, 245, 0.5);
}
@media (max-width: 590px) {
  .html .answers-container button {
    font-size: 18px;
    padding: 19px;
    border-radius: 12px;
  }
}

.score {
  display: none;
  gap: 143px;
  justify-content: space-between;
}
@media (max-width: 870px) {
  .score {
    flex-direction: column;
    gap: 64px;
  }
}
@media (max-width: 590px) {
  .score {
    gap: 40px;
  }
}
.score .score-text-container p {
  font-size: 64px;
  font-weight: 300;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .score .score-text-container p {
    font-size: 40px;
  }
}
.score .score-text-container p strong {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .score .score-text-container p strong {
    font-size: 40px;
  }
}
.score .score-point-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.score .score-point-container .score-box {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 16px 40px rgba(143, 160, 193, 0.14);
  width: 564px;
  padding: 48px;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
@media (max-width: 870px) {
  .score .score-point-container .score-box {
    width: 100%;
  }
}
@media (max-width: 590px) {
  .score .score-point-container .score-box {
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
  }
}
@media (max-width: 590px) {
  .score .score-point-container .score-box {
    padding: 32px;
  }
}
.score .score-point-container .score-box .question-type {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 590px) {
  .score .score-point-container .score-box .question-type {
    gap: 16px;
  }
}
.score .score-point-container .score-box .question-type img {
  padding: 8px;
  background-color: #F6E7FF;
  border-radius: 10px;
}
@media (max-width: 590px) {
  .score .score-point-container .score-box .question-type img {
    padding: 6px;
    width: 40px;
    height: 40px;
  }
}
.score .score-point-container .score-box .question-type p {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .score .score-point-container .score-box .question-type p {
    font-size: 18px;
  }
}
.score .score-point-container .score-box .score-box-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.score .score-point-container .score-box .score-box-container p {
  font-size: 144px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #313E51;
}
@media (max-width: 590px) {
  .score .score-point-container .score-box .score-box-container p {
    font-size: 88px;
  }
}
.score .score-point-container .score-box .score-box-container span {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  font-style: normal;
  color: #626C7F;
}
@media (max-width: 590px) {
  .score .score-point-container .score-box .score-box-container span {
    font-size: 18px;
  }
}
.score button {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  background-color: #A729F5;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.score button:hover {
  background: rgba(167, 41, 245, 0.5);
}
@media (max-width: 590px) {
  .score button {
    font-size: 18px;
    padding: 19px;
    border-radius: 12px;
  }
}

.active {
  border: 3px solid #A729F5;
}
.active div {
  background-color: #A729F5 !important;
  color: #FFFFFF !important;
}

.correct-answer {
  border: 3px solid #26D782;
}
.correct-answer div {
  background-color: #26D782 !important;
  color: #FFFFFF !important;
}

.wrong-answer {
  border: 3px solid #EE5454;
}
.wrong-answer div {
  background-color: #EE5454 !important;
  color: #FFFFFF !important;
}

/*# sourceMappingURL=styles.css.map */
