$light-theme-box-color: #FFFFFF;
$dark-theme-box-color: #3B4D66;
$dark-navy: #313E51;
$dark-theme-text-color: #FFFFFF;
$primary-color: #A729F5;
$grey-navy: #626C7F;
$light-gray: #F4F6FA;
$drop-shadow: 0 16px 40px rgba(#8FA0C1, 0.14);

@mixin text ($size, $color , $weight: 500, $line-height: 100%, $font-style: normal) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    font-style: $font-style;
    color: $color;
}

@mixin mainDiv() {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: $drop-shadow;
    width: 564px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
    color: $light-theme-box-color;

    // outline: 2px solid red;


}

body {
    background: $light-gray url("/assets/images/pattern-background-desktop-light.svg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    padding: 83px 140px;
}

.theme-option {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    color: $dark-navy;
    margin-bottom: 99px;

    div {
        width: 48px;
        height: 28px;
        padding: 4;
        background-color: $primary-color;
        border-radius: 999px;
        padding: 4px;

        .toggle {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #FFFFFF;
            cursor: pointer;
        }
    }
}

.main {
    display: none;
    justify-content: space-between;

    .welcome-container {

        display: flex;
        flex-direction: column;
        gap: 48px;

        h1 {
            @include text(64px, $dark-navy, 300);

            strong {
                @include text(64px, $dark-navy);

            }

        }

        p {

            @include text(20px, $grey-navy, 400, 150%, italic)
        }
    }

    .options-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .option {
            padding: 20px;
            display: flex;
            align-items: center;
            gap: 32px;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 24px;
            box-shadow: $drop-shadow;
            width: 564px;

            p {
                @include text(28px, $dark-navy)
            }
        }
    }
}

.html {
    display: flex;
    gap: 131px;

    .question-container {
        display: flex;
        flex-direction: column;
        gap: 27px;

        .question-number {
            @include text(20px, $grey-navy, 400, 150%, italic)
        }

        .question {
            @include text(36px, $dark-navy , 500, 120%);
            margin-bottom: 120px;
        }

        div {
            padding: 4px;
            height: 16px;
            border-radius: 999px;
            background-color: #FFFFFF;

            div {
                height: 100%;
                background-color: $primary-color;
                width: 100% - 40%;
            }
        }
    }

    .answers-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .answer {
            @include mainDiv();
            cursor: pointer;

            padding: 18px 20px;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                width: 56px;
                height: 56px;
                background-color: $light-gray ;
                @include text(28px, $grey-navy, 500)
            }

            p {
                @include text(28px, $dark-navy, 500)
            }

            &:hover {
                div {
                    background-color: #F6E7FF;
                    color: $primary-color;
                }
            }
        }

        button {
            padding: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 24px;
            background-color: $primary-color;
            @include text(28px, #FFFFFF, 500);
            cursor: pointer;
        }
    }


}

.active {
    border: 3px solid $primary-color;

    div {
        background-color: $primary-color !important;
        color: #FFFFFF !important;
    }
}